body {
    background-color: #F9F5EB;
    color: #1C3879;
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1C3879;
    color: #F9F5EB;
    margin-bottom: 50px;
    cursor: pointer;
}

#startBtns button {
    width: 100px;
}

#start-pause-button {
    margin-right: 30px;
}

button:hover {
    background-color: #607EAA;
}

#nextLevelBtn {
    display: none;
    background-color: #59CE8F;
    width: auto;
}

#nextLevelBtn:hover {
    background-color: #409467;
}

.grid {
    border: 1px solid #1C3879;
    background-color: #DBE9B7;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}

.l1, .l2, .l3 {
    background-color: brown;
    background-image: url('file:///Users/louisesandlan/Documents/personal%20projects/frogger/images/wood-plank.png');
    background-size: 100% 190%;
    background-position: center center;
}

.l4, .l5 {
    background-color: lightblue;
    background-image: url('file:///Users/louisesandlan/Documents/personal%20projects/frogger/images/water.png');
    background-size: cover;
}

.c1 {
    /*background-color: black;*/
    background-color: lightgray;
    background-image: url('file:///Users/louisesandlan/Documents/personal%20projects/frogger/images/car_right.png');
    background-size: cover;
}

.c1.rotate {
    transform: rotate(180deg);
}

.c2, .c3 {
    background-color: lightgray;
    position: relative;
}

.c2:before, .c3:before {
    background: white;
    width: 60%;
    height: 2px;
    position: absolute;
    content: '';
    padding: 0 3px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
}

.frog::after {
   /* background-color: green;*/
   background-image: url('file:///Users/louisesandlan/Documents/personal%20projects/frogger/images/frog.png');
   background-size: cover;
   z-index: 2;
   content: '';
   width: 40px;
   height: 40px;
   position: absolute;
}

/* Level 1 */

.grid1 {
    height: 360px;
    width: 360px;
}

/* Level 2 */
.grid2 {
    height: 440px;
    width: 360px;
}
